<div class="col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">My Portfolio</h3>
    </div>
    <div class="panel-body">

      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Allocation Donut Chart</h3>
          </div>
          <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="myPortfolio.data"
                    chart-labels="myPortfolio.labels"
                    chart-click="myPortfolio.onClick"
                    chart-options="{segmentStrokeWidth : 0}">
            </canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Allocation</h3>
          </div>
          <div class="panel-body">
            <span ng-hide="true">{{myPortfolio.getValue(settings.amount)}}</span>
            <table ng-table="vm.tableParams" class="table">
              <tr ng-repeat="(key, data) in myPortfolio.getAlloc(settings.selected.value)">
                <td ng-click="myPortfolio.getAssetClass(key)" title="'Allocation Name'">{{key}}</td>
                <td title="'Allocation Percent'">{{data * 100| number :2 }}%</td>
                <td title="'Allocation Amount'">{{data * settings.amount | currency}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="col-lg-6" ng-show="myPortfolio.assetSymbol != ''">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Market Data</h3>
    </div>
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{myPortfolio.assetMovement.Name}} ({{myPortfolio.assetSymbol}})</h3>
          </div>
          <div class="panel-body">
            <table ng-table="vm.tableParams" class="table">
              <tr>
                <td title="'Days Low'">{{myPortfolio.assetMovement.DaysLow}}</td>
                <td title="'Days High'">{{myPortfolio.assetMovement.DaysHigh}}</td>
                <td title="'Change %'">{{myPortfolio.assetMovement.ChangeinPercent}}</td>
                <td title="'Change Ammount'">{{myPortfolio.assetMovement.Change}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
      </div>
      </div>
    </div>
  </div>
